@media print {
    @page {
        margin: calc(2cm - 2em) 2cm 2cm 2cm;
    }

    html {
        font-size: 10pt;
        print-color-adjust: exact;
    }

    body {
        width: 100%;   
    }

    main {
        padding: 0;
    }

    br {
        display: none;
    }

    .intro {
        padding-top: 2em;
    }
}