@media print {
    @page {
        margin: 2cm 2cm;
    }

    html {
        font-size: 10pt;
        --print-pic-width: 100px;
    }

    body {
        background-color: revert;
        width: calc(8.5in - 3cm);
        height: calc(11in - 3cm);
        h2 {
            padding-top: 4px;
        }
        .contact-info, footer {
            margin: 0;
            padding: 8px 0;
        }
        .contact-info {
            position: static;
        }
        footer p {
            height: 1.5em;
            margin: 0;
            padding: 0;
        }
        .intro {
            display: grid;
            grid-template-columns: var(--print-pic-width) 1fr;
            column-gap: 1em;
        
            img {
                grid-column: 1;
                float: none;
                width: var(--print-pic-width);
                grid-row: 1 / 3;
            }
        
            h1,
            p {
                grid-column: 2;
            }
        
            h1 {
                align-self: end;
            }
        }
        .skills-cols {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 1em;
            ul {
                margin-bottom: 0;
            }
            
        }
        // .exp-cols {
        //     // ul {
        //     //     display: grid;
        //     //     grid-template-columns: 1fr 1fr;
        //     //     column-gap: 1.5em;
        //     // }
        // }
        footer+svg {
            display: none;
        }
        main {
            margin: 0;
            padding: 10px 0;
            box-shadow: none;
            a {
                &:visited, &:focus {
                        color: hsl(240 100% 47%);
                    }
            }
        }

        br {
            display: none;
        }

        .print {
            display: unset;
        }

        .no-print {
            display: none;
        }
        .emdash-separated li {
            display: inline;
            
            &:not(:last-child)::after {
                content: " — ";
            }
        }
        #this-site-link {
            display: revert;
        }
    }



}