@media print {
    @page {
        margin: 2cm 2cm;
    }

    html {
        font-size: 11pt;
    }

    body {
        background-color: revert;
        width: calc(8.5in - 3cm);
        height: calc(11in - 3cm);
        .contact-info, footer {
            margin: 0;
            padding: 8px 0;
        }
        .contact-info {
            position: static;
        }
        .intro {
            display: grid;
            grid-template-columns: 200px 1fr;
            column-gap: 1em;
        
            img {
                grid-column: 1;
                float: none;
                width: auto;
                grid-row: 1 / 3;
            }
        
            h1,
            p {
                grid-column: 2;
            }
        
            h1 {
                align-self: end;
            }
        }
        .skills-cols {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 1em;
        }
        .exp-cols {
            ul {
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 1.5em;
            }
        }
        footer+svg {
            display: none;
        }
        main {
            margin: 0;
            padding: 5px 0;
            box-shadow: none;
        }

        br {
            display: none;
        }

        .print {
            display: unset;
        }

        .no-print {
            display: none;
        }
        .emdash-separated li {
            display: inline;
            
            &:not(:last-child)::after {
                content: " — ";
            }
        }
    }



}