@use 'theme' as *;

small {
	white-space: nowrap;
}

br.mobile {
	display: none;
	@media screen and (max-width: 650px) {
		display: revert;
	}
}

span.italics {
	display: contents;
	font-style: italic;
}

.intro {
	img {
		border-radius: 50%;
		float: left;
		width: 35%;
		shape-outside: circle(50%);
		margin: 1em 1em 1em 0;
	}
	// @media screen and (max-width: 650px) {

	// }
	@media screen and (min-width: 650px) {
		display: grid;
		grid-template-columns: var(--pic-width) 1fr;
		column-gap: 1em;
		img {
			grid-column: 1;
			float: none;
			width: auto;
			grid-row: 1 / 3;
		}
		h1, p {
			grid-column: 2;
		}
		h1 {
			align-self: end;
		}
	}
}

.skills-cols {
	clear: both;
	@media screen and (min-width: 650px) {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 1em;
	}
}

.exp-cols {
	display: flex;
	flex-direction: column;
	clear: both;
	ul {
		margin-bottom: var(--content-gap);
	}
	@media screen and (min-width: 650px) {
		// ul {
		// 	display: grid;
		// 	grid-template-columns: 1fr 1fr;
		// 	column-gap: 1.5em;
		// }
	}
}

.edu-cols {
	div.coursework {
		@media screen and (min-width: 650px) {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			column-gap: 1em;
			align-items: start;
		} 
		summary {
			background-color: hsl(0 0% 95%);
			padding: 0.5em 1em;
		}
		details {
			border: 1px solid hsl(0 0% 90%);
			margin-bottom: 1em;
			border-radius: 0.2em;
			> div {
				padding: 0.5em;
				:last-child {
					margin-bottom: 0;
				}
			}
		}
		small {
			display: block;
			font-style: italic;
			color: hsl(0 0% 20%);
			margin-bottom: 0.25em;
			text-align: right;
		}
	}
}

.projects h3 {
	column-gap: 0px;
	a {
		display: contents;
	}
}

#resume-download-btn {
	padding: 0 0.5em;
	height: 1.5em;
	background-color: hsl(0 0% 100% / 0.7);
	border-radius: 0.2em;
	transition: background-color 400ms;
	color: hsl(205, 32%, 48%);

	&:hover, &:active, &:focus {
		background-color: white;
	}
}

#this-site-link {
	display: none;
}


@import 'print';

@media print {
	footer {
		display: none;
	}
}