@use 'boilerplate' as *;

html {
	--page-width: 1000px;
}

body {
	background-color: gray;
}

main {
	background-color: white;
	max-width: var(--page-width);
	padding: 2em;
	margin: auto;
}

h2 {
	border-bottom: 1px solid gray;
}

h3 {
	display: grid;
	grid-template-columns: 3fr 1fr;
	align-items: center;
	column-gap: 1em;

	small {
		margin-left: auto;
	}
}

// SVG Sprites
svg#sprites {
	visibility: hidden;
	height: 0;
	width: 0;
	position: absolute;
}

br.mobile {
	display: none;
	@media (max-width: 850px) {
		display: unset;
		&::after {
			content: "    ";
		}
	}
}

br.ipad {
	display: none;
	@media (max-width: 740px) {
			display: unset;
		}
}

@media (max-width: 625px) {
	.no-mobile {
		display: none;
	}
}

.contact-info {
	padding: 0.5em 0;
	display: flex;
	column-gap: 1em;
	background-color: hsl(205, 32%, 48%);
	max-width: var(--page-width);
	margin: 0 auto;
	position: sticky;
	top: 0;
	justify-content: space-evenly;
	a {
		display: flex;
		column-gap: 0.25em;
		align-items: center;
		line-height: 1;
		color: hsl(0 0% 100% / 0.7);
		transition: color 400ms;
		&:hover, &:active, &:focus {
			color: white;
		}
	}
	svg {
		height: 1.5em;
		fill: currentColor;
	}
	span {
		display: none;
	}
}

.intro {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 1em;
	img {
		border-radius: 50%;
	}
	@media (max-width: 700px) {
		display: grid;
		grid-template-columns: 1fr 2.5fr;
		gap: var(--content-gap);
		img {
			margin: 0;
		}
		hgroup {
			display: contents;
		}
		h1 {
			margin: 0;
			justify-self: start;
			align-self: center;
			white-space: nowrap;
		}
		p {
			grid-row: 2 / 3;
			grid-column: 1 / 3;
		}
	}
}

.three-cols {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 1em;
	@media (max-width: 700px) {
		display: unset;
	}
}

.exp-cols {
	display: flex;
	flex-direction: column;
	ul {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 1.5em;
	}
	span.italics {
		display: contents;
		font-style: italic;
	}
	@media (max-width: 700px) {
		ul {
			display: unset;
		}
	}
}

.edu-cols {
	@media (max-width: 625px) {
		span.break-mobile::before {
			content: "\A";
			white-space: pre;
		}
	}
}

.comma-separated, .emdash-separated {
	padding: 0;
	hyphens: auto;

	li {
		display: inline;
	}
}

.comma-separated li:not(:last-child)::after {
	content: ", ";
}

.emdash-separated li:not(:last-child)::after {
	content: " — ";
}

@import 'print';