@use 'boilerplate' as *;

html {
	--page-width: 1000px;
}

body {
	background-color: gray;
}

main {
	background-color: white;
	max-width: var(--page-width);
	padding: 2em;
	margin: auto;
}

h2 {
	border-bottom: 1px solid gray;
}

// SVG Sprites
svg#sprites {
	visibility: hidden;
	height: 0;
	width: 0;
	position: absolute;
}

.contact-info {
	padding: 0.5em 0;
	display: flex;
	justify-content: center;
	column-gap: 1em;
	background-color: hsl(205, 32%, 48%);
	max-width: var(--page-width);
	margin: 0 auto;
	position: sticky;
	top: 0;
	a {
		display: flex;
		column-gap: 0.25em;
		align-items: center;
		line-height: 1;
		color: hsl(0 0% 100% / 0.7);
		transition: color 400ms;
		&:hover, &:active, &:focus {
			color: white;
		}
	}
	svg {
		height: 1.5em;
		fill: currentColor;
	}
	@media (max-width: 625px) {
		justify-content: space-evenly;
		.no-small {
			display: none;
		}
	}
}

.intro {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 1em;
	img {
		border-radius: 50%;
	}
	@media (max-width: 700px) {
		display: grid;
		grid-template-columns: 1fr 2.5fr;
		gap: var(--content-gap);
		img {
			margin: 0;
		}
		hgroup {
			display: contents;
		}
		h1 {
			margin: 0;
			justify-self: start;
			align-self: center;
			break-inside: avoid;
		}
		p {
			grid-row: 2 / 3;
			grid-column: 1 / 3;
		}
	}
}

.comma-separated, .emdash-separated {
	padding: 0;
	hyphens: auto;

	li {
		display: inline;
	}
}

.comma-separated li:not(:last-child)::after {
	content: ", ";
}

.emdash-separated li:not(:last-child)::after {
	content: " — ";
}

@import 'print';