@charset "UTF-8";
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  --content-gap: 1em;
  font-family: system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 18px;
  line-height: 1.4;
}

body {
  margin: 0;
  background-color: white;
  min-height: 100vh;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p, ul, ol, dl, table, figure, hr, address, blockquote, fieldset, img {
  margin-top: 0;
  margin-bottom: var(--content-gap);
}

ol, ul {
  padding-left: 1.25rem;
}

ol ol, ul ul, ol ul, ul ol {
  margin-bottom: 0;
}

hr {
  border: 0;
  color: currentcolor;
  background-color: currentcolor;
  height: 2px;
  margin-right: auto;
  margin-left: auto;
}

table {
  caption-side: bottom;
  border-collapse: collapse;
}

table caption, table th {
  text-align: inherit;
}

table caption {
  font-size: 0.85em;
}

figure {
  display: table;
  max-width: 400px;
}

figure img {
  margin: 0;
}

figure figcaption {
  display: table-caption;
  caption-side: bottom;
  font-size: 0.85em;
}

figure figcaption p {
  margin-left: auto;
  margin-right: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

figure figcaption p:last-of-type {
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

fieldset {
  padding: 0.35em 1em 0;
}

fieldset legend {
  padding: 0 0.5em;
}

summary {
  cursor: pointer;
}

summary > * {
  display: inline;
}

sub, sup {
  position: relative;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

@font-face {
  font-family: "Source Sans";
  font-style: normal;
  font-stretch: normal;
  font-weight: 400;
  src: url("/fonts/source-sans-400.woff2") format("woff2");
}
@font-face {
  font-family: "Source Sans";
  font-style: normal;
  font-stretch: normal;
  font-weight: 500;
  src: url("/fonts/source-sans-500.woff2") format("woff2");
}
@font-face {
  font-family: "Source Sans";
  font-style: normal;
  font-stretch: normal;
  font-weight: 600;
  src: url("/fonts/source-sans-600.woff2") format("woff2");
}
@font-face {
  font-family: "Source Sans";
  font-style: normal;
  font-stretch: normal;
  font-weight: 700;
  src: url("/fonts/source-sans-700.woff2") format("woff2");
}
@font-face {
  font-family: "Source Sans";
  font-style: italic;
  font-stretch: normal;
  font-weight: 400;
  src: url("/fonts/source-sans-italic-400.woff2") format("woff2");
}
@font-face {
  font-family: "Source Sans";
  font-style: italic;
  font-stretch: normal;
  font-weight: 500;
  src: url("/fonts/source-sans-italic-500.woff2") format("woff2");
}
@font-face {
  font-family: "Source Sans";
  font-style: italic;
  font-stretch: normal;
  font-weight: 600;
  src: url("/fonts/source-sans-italic-600.woff2") format("woff2");
}
@font-face {
  font-family: "Source Sans";
  font-style: italic;
  font-stretch: normal;
  font-weight: 700;
  src: url("/fonts/source-sans-italic-400.woff2") format("woff2");
}
@font-face {
  font-family: "Libre Baskerville";
  font-style: normal;
  font-stretch: normal;
  font-weight: 400;
  src: url("/fonts/libre-baskerville-400.woff2") format("woff2");
}
html {
  --page-width: 1000px;
}

body {
  background-color: hsl(20, 10%, 30%);
  font-family: "Source Sans";
  line-height: 1.3;
}

main {
  background-color: white;
  max-width: var(--page-width);
  padding: clamp(1rem, 0.8rem + 1vw, 2rem);
  margin: auto;
  -webkit-box-shadow: 0 0 2em hsla(0, 0%, 0%, 0.7);
          box-shadow: 0 0 2em hsla(0, 0%, 0%, 0.7);
}

h1, h2 {
  font-family: "Libre Baskerville";
}

h2 {
  border-bottom: 1px solid hsl(0, 0%, 90%);
  padding-bottom: 0.1em;
}

h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1em;
     -moz-column-gap: 1em;
          column-gap: 1em;
  font-weight: 700;
}
h3 small {
  margin-left: auto;
}

li:not(:last-child) {
  margin-bottom: 0.25em;
}

a {
  color: hsl(240, 100%, 47%);
  text-decoration: none;
}
a:visited, a:focus {
  color: hsl(271, 68%, 32%);
}

small {
  white-space: nowrap;
}

footer {
  padding: 0.5em 0;
  background-color: hsl(205, 32%, 48%);
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: var(--page-width);
}
footer p {
  margin: auto;
  line-height: 1;
  color: hsla(0, 0%, 100%, 0.7);
  padding: 0 0.5em;
}
footer a {
  line-height: 1;
  color: hsla(0, 0%, 100%, 0.7);
  -webkit-transition: color 400ms;
  transition: color 400ms;
}
footer a:hover, footer a:active, footer a:focus {
  color: white;
}

svg#sprites {
  visibility: hidden;
  height: 0;
  width: 0;
  position: absolute;
}

br.mobile {
  display: none;
}
@media screen and (max-width: 650px) {
  br.mobile {
    display: revert;
  }
}

span.italics {
  display: contents;
  font-style: italic;
}

.print {
  display: none;
}

.contact-info {
  padding: 0.5em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1em;
     -moz-column-gap: 1em;
          column-gap: 1em;
  background-color: hsl(205, 32%, 48%);
  max-width: var(--page-width);
  margin: 0 auto;
  position: sticky;
  top: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contact-info a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.25em;
     -moz-column-gap: 0.25em;
          column-gap: 0.25em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1;
  color: hsla(0, 0%, 100%, 0.7);
  text-decoration: none;
  -webkit-transition: color 400ms;
  transition: color 400ms;
}
.contact-info a:hover, .contact-info a:active, .contact-info a:focus {
  color: white;
}
.contact-info svg {
  height: 1.5em;
  fill: currentColor;
}
@media screen and (max-width: 650px) {
  .contact-info {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .contact-info span {
    display: none;
  }
}

.intro img {
  border-radius: 50%;
  float: left;
  width: 35%;
  shape-outside: circle(50%);
  margin: 1em 1em 1em 0;
}
@media screen and (min-width: 650px) {
  .intro {
    display: grid;
    grid-template-columns: 200px 1fr;
    -webkit-column-gap: 1em;
       -moz-column-gap: 1em;
            column-gap: 1em;
  }
  .intro img {
    grid-column: 1;
    float: none;
    width: auto;
    grid-row: 1/3;
  }
  .intro h1, .intro p {
    grid-column: 2;
  }
  .intro h1 {
    -ms-flex-item-align: end;
        align-self: end;
  }
}

.intro + h2 {
  clear: left;
}

.skills-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 1em;
     -moz-column-gap: 1em;
          column-gap: 1em;
}
@media screen and (max-width: 725px) {
  .skills-cols {
    display: revert;
  }
}

.exp-cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.exp-cols ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 1.5em;
     -moz-column-gap: 1.5em;
          column-gap: 1.5em;
  margin-bottom: var(--content-gap);
}
@media screen and (max-width: 650px) {
  .exp-cols ul {
    display: revert;
  }
}

@media screen and (min-width: 650px) {
  .edu-cols .coursework {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 1em;
       -moz-column-gap: 1em;
            column-gap: 1em;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
.edu-cols .coursework summary {
  background-color: hsl(0, 0%, 95%);
  padding: 0.5em 1em;
}
.edu-cols .coursework details {
  border: 1px solid hsl(0, 0%, 90%);
  margin-bottom: 1em;
  border-radius: 0.2em;
}
.edu-cols .coursework details > div {
  padding: 0.5em;
}
.edu-cols .coursework details > div :last-child {
  margin-bottom: 0;
}
.edu-cols .coursework small {
  display: block;
  font-style: italic;
  color: hsl(0, 0%, 20%);
  margin-bottom: 0.5em;
  text-align: right;
}

#projects h3 {
  -webkit-column-gap: 0px;
     -moz-column-gap: 0px;
          column-gap: 0px;
}
#projects h3 a::before {
  content: " ";
}

.comma-separated {
  padding: 0;
}
.comma-separated li {
  display: inline;
}
.comma-separated li:not(:last-child)::after {
  content: ", ";
}

.emdash-separated {
  padding: 0;
}
.emdash-separated li {
  display: block;
}
@media screen and (min-width: 650px) {
  .emdash-separated li {
    display: inline;
  }
  .emdash-separated li:not(:last-child)::after {
    content: " — ";
  }
}

@media print {
  @page {
    margin: 2cm 2cm;
  }
  html {
    font-size: 10pt;
  }
  br {
    display: none;
  }
  .print {
    display: unset;
  }
  .no-print {
    display: none;
  }
}