*, *::before, *::after {
	box-sizing: border-box;
}

html {
	--content-gap: 1em;
	font-family: system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 18px;
	line-height: 1.4;
}

body {
	margin: 0;
	background-color: white;
	min-height: 100vh;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 0.5rem;
}

p, ul, ol, dl, table, figure, hr, address, blockquote, fieldset, img {
	margin-top: 0;
	margin-bottom: var(--content-gap);
}

ol, ul {
	padding-left: 1.25rem;
}

ol ol, ul ul, ol ul, ul ol {
	margin-bottom: 0;
}

hr {
	border: 0;
	color: currentcolor;
	background-color: currentcolor;
	height: 2px;
	margin-right: auto;
	margin-left: auto;
}

table {
	caption-side: bottom;
	border-collapse: collapse;
}
table caption, table th {
	text-align: inherit;
}
table caption {
	font-size: 0.85em;
}

figure {
	display: table;
	max-width: 400px;
}
figure img {
	margin: 0;
}
figure figcaption {
	display: table-caption;
	caption-side: bottom;
	font-size: 0.85em;
}
figure figcaption p {
	margin-left: auto;
	margin-right: auto;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}
figure figcaption p:last-of-type {
	margin-bottom: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

fieldset {
	padding: 0.35em 1em 0;
}
fieldset legend {
	padding: 0 0.5em;
}

summary {
	cursor: pointer;
}
summary > * {
	display: inline;
}

sub, sup {
	position: relative;
	line-height: 0;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}
