*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  --content-gap: 1em;
  font-family: system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 18px;
  line-height: 1.4;
}

body {
  margin: 0;
  background-color: white;
  min-height: 100vh;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p, ul, ol, dl, table, figure, hr, address, blockquote, fieldset, img {
  margin-top: 0;
  margin-bottom: var(--content-gap);
}

ol, ul {
  padding-left: 1.25rem;
}

ol ol, ul ul, ol ul, ul ol {
  margin-bottom: 0;
}

hr {
  border: 0;
  color: currentcolor;
  background-color: currentcolor;
  height: 2px;
  margin-right: auto;
  margin-left: auto;
}

table {
  caption-side: bottom;
  border-collapse: collapse;
}

table caption, table th {
  text-align: inherit;
}

table caption {
  font-size: 0.85em;
}

figure {
  display: table;
  max-width: 400px;
}

figure img {
  margin: 0;
}

figure figcaption {
  display: table-caption;
  caption-side: bottom;
  font-size: 0.85em;
}

figure figcaption p {
  margin-left: auto;
  margin-right: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

figure figcaption p:last-of-type {
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

fieldset {
  padding: 0.35em 1em 0;
}

fieldset legend {
  padding: 0 0.5em;
}

summary {
  cursor: pointer;
}

summary > * {
  display: inline;
}

sub, sup {
  position: relative;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

body {
  background-color: lightcoral;
}
@media screen and (min-width: 600px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
body header {
  display: none;
}
body footer {
  display: none;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0.5em;
}
@media screen and (min-width: 600px) {
  main {
    width: 50vw;
    padding: 1em;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

hgroup h1 {
  display: inline-block;
  margin-right: 0.25em;
}
hgroup p {
  margin: 0;
  display: inline-block;
  font-style: italic;
}

h1 {
  border-bottom: 1px solid lightpink;
  padding-bottom: 0.1em;
}

#image-wheel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: var(--content-gap);
  height: 15vw;
  background-color: lightgray;
  border-radius: 10px;
}
#image-wheel ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
  gap: 0;
  padding: 0;
  width: calc(100% - 1em);
  height: calc(100% - 1em);
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}
#image-wheel li {
  display: none;
}
#image-wheel li.vis {
  display: contents;
}
#image-wheel img {
  margin: 0;
  padding: 0;
  position: absolute;
  min-height: 100%;
  max-width: 33.3333333333%;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  opacity: 0.5;
}
#image-wheel img.selected {
  z-index: 1;
  max-width: 50%;
  opacity: 1;
}
#image-wheel li.left img {
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
}
#image-wheel li.right img {
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
}

#file-submit {
  margin-bottom: var(--content-gap);
}