@font-face {
    font-family: 'Source Sans';
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    src: url('/fonts/source-sans-400.woff2') format('woff2');
}

@font-face {
    font-family: 'Source Sans';
    font-style: normal;
    font-stretch: normal;
    font-weight: 500;
    src: url('/fonts/source-sans-500.woff2') format('woff2');
}

@font-face {
    font-family: 'Source Sans';
    font-style: normal;
    font-stretch: normal;
    font-weight: 600;
    src: url('/fonts/source-sans-600.woff2') format('woff2');
}

@font-face {
    font-family: 'Source Sans';
    font-style: normal;
    font-stretch: normal;
    font-weight: 700;
    src: url('/fonts/source-sans-700.woff2') format('woff2');
}

@font-face {
    font-family: 'Source Sans';
    font-style: italic;
    font-stretch: normal;
    font-weight: 400;
    src: url('/fonts/source-sans-italic-400.woff2') format('woff2');
}

@font-face {
    font-family: 'Source Sans';
    font-style: italic;
    font-stretch: normal;
    font-weight: 500;
    src: url('/fonts/source-sans-italic-500.woff2') format('woff2');
}

@font-face {
    font-family: 'Source Sans';
    font-style: italic;
    font-stretch: normal;
    font-weight: 600;
    src: url('/fonts/source-sans-italic-600.woff2') format('woff2');
}

@font-face {
    font-family: 'Source Sans';
    font-style: italic;
    font-stretch: normal;
    font-weight: 700;
    src: url('/fonts/source-sans-italic-700.woff2') format('woff2');
}

@font-face {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    src: url('/fonts/libre-baskerville-400.woff2') format('woff2');
}

@font-face {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-stretch: normal;
    font-weight: 700;
    src: url('/fonts/libre-baskerville-700.woff2') format('woff2');
}

@font-face {
    font-family: 'Libre Baskerville';
    font-style: italic;
    font-stretch: normal;
    font-weight: 400;
    src: url('/fonts/libre-baskerville-italic-400.woff2') format('woff2');
}